body {
    background-color: rgb(0, 98, 128);
    color: greenyellow;
}
h1 {
    color: blue;
}
#flex {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: brown;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }
#secondary {
    flex-direction: column;
    align-items: left;
}
.hidden {
  display: none;
}
p {
  flex-direction: column;
  align-items: center;
  color: salmon;
}
ul {
  color: orange
}
button {
  color: green
}
.btn-primary:hover {
  background-color: purple
}